#Home {
    display: flex;
    background: url(../images/bg.jpg) no-repeat;
    align-items: center;
    width: auto;
    height: 450px;
    padding-left: 80px;

  }
 
#Home p{
    color: white;
    font-size: 50px;
    /* text-align:  center; */
    /* align-content: center; */

}